*{
 padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.box{
    width: 200px;
    height: 200px;
    border:2px solid red;
}
.flex-container1{

    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    color:white;
    background-color: gray;
    border:1px solid red;         
    padding:20px;
    margin:25px;

}

.flex-container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:white;
    background-color: gray;
    border:5px solid rgb(23, 22, 22);         
    padding:20px;
    margin:25px;


}
.box2{
    

    width: 200px;
    height: 500px;
    border:2px solid red;

}